nav{
    background-color: grey;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:5px 20px 5px 20px
}
.nav-links a{
    text-decoration: none;
    padding:0px 20px 0px 20px;
}
.mainLayout{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.left {
    width: 35%;
    text-align: center;
}
.right {
    width: 57%;
}
.profilePic{
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width:400px;
    opacity: 0.9;
    transition: transform .3s;
    display: inline-block;
}
.profilePic:hover{
    opacity: 1;
    transform: scale(1.1);
}
.badge{
    border-radius: 10px;
    margin: 1px;
    padding:2px 6px;
    background-color: burlywood;
}
.badge:hover{
    background-color: cadetblue;
}
.flexlayout{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    vertical-align: middle;
    flex-direction: row;
}